body {
  line-height: 2em;
  text-align: center;
}
button {
  height: 30px;
  background-color: rgb(3, 3, 160);
  color: white;
  border: none;
  border-radius: 10px;
}
button:hover {
  background-color: blue;
}
